---
const currentYear = new Date().getFullYear();
---

<footer class="py-12 mt-24">
  <div class="max-w-screen-xl mx-auto px-6 md:px-12 lg:px-16">
    <div class="flex justify-center">
      <p class="text-text/30 text-xs font-extralight">© {currentYear} tttocklll | OHMURA Tokiya</p>
    </div>
  </div>
</footer>