---
interface Props {
  icon: string;
  text: string;
}

const { icon, text } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="flex items-center bg-white/40 rounded-full px-3 py-1.5 shadow-sm backdrop-blur-[1px] border border-white/15 hover:bg-white/50 hover:border-white/25 transition-all">
  <Icon name={icon} class="w-3.5 h-3.5 text-accent mr-1.5" />
  <span class="text-sm text-text/80 font-light">{text}</span>
</div>
