---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<p class="text-base text-text/70 font-extralight leading-relaxed border-l-2 border-accent/10 pl-4 mb-3 transition-all hover:border-accent/30">
  {text}
</p>
