---
import { Icon } from "astro-icon/components";
---

<div class="flex space-x-6 justify-center">
  <a
    href="https://x.com/tttockllll"
    target="_blank"
    rel="noopener noreferrer"
    class="text-text/40 hover:text-accent/80 transition-colors"
  >
    <Icon name="ri:twitter-x-line" class="w-5 h-5" />
  </a>
  <a
    href="https://www.linkedin.com/in/tttocklll/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-text/40 hover:text-accent/80 transition-colors"
  >
    <Icon name="mdi:linkedin" class="w-5 h-5" />
  </a>
  <a
    href="https://github.com/tttocklll"
    target="_blank"
    rel="noopener noreferrer"
    class="text-text/40 hover:text-accent/80 transition-colors"
  >
    <Icon name="mdi:github" class="w-5 h-5" />
  </a>
</div>

