---
export interface Props {
  title: string;
  icon: string;
  skills: string[];
}

const { title, icon, skills } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="card-bg">
  <div class="p-6">
    <div class="flex items-center mb-4">
      <Icon name={icon} class="w-6 h-6 text-accent mr-3" />
      <h3 class="text-xl font-light text-text">{title}</h3>
    </div>
    <ul class="space-y-3">
      {skills.map((skill) => (
        <li class="flex items-center">
          <div class="w-2 h-2 bg-accent/60 rounded-full mr-2"></div>
          <span class="text-text/80 font-extralight">{skill}</span>
        </li>
      ))}
    </ul>
  </div>
</div>
