---
import mangaSanta from "../../assets/manga_santa.jpg";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Manga Santa | tttocklll">
	<main class="min-h-screen flex items-center justify-center p-6">
		<img
			src={mangaSanta.src}
			alt="Manga Santa"
			class="max-w-full h-auto"
		/>
	</main>
</Layout>
