name: CI

on:
  pull_request:
    paths:
      - "v2/**"
      - ".github/workflows/ci.yml"
      - "renovate.json5"
  push:
    branches:
      - main
    paths:
      - "v2/**"
      - ".github/workflows/ci.yml"
      - "renovate.json5"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: v2
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: v2/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: CI
        run: npm run ci
