name: CI

on:
  pull_request:
    paths:
      - "v2/**"
      - ".github/workflows/ci.yml"
      - "renovate.json5"
  push:
    branches:
      - main
    paths:
      - "v2/**"
      - ".github/workflows/ci.yml"
      - "renovate.json5"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: v2
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: npm
          cache-dependency-path: v2/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: CI
        run: npm run ci
